<ion-view view-title="Order">
  <ion-content class="padding">

    <div class="card default-margin-jump">
      <div class="item item-divider">
        Order #3 - 11/01/2015
      </div>
      <div class="item item-text-wrap">
        <p>
          Deliver at: 1001 Whitehouse, Whashington DC
        </p>
        <p>
          Total purchased: $5.00
        </p>
        <p>
          ETA: 20 minutes
        </p>
        <p>
          Status: On the way!
        </p>
      </div>
      <button class="item button button-block button-clear" ng-click="showAlert()">
        Request New Status
      </button>
    </div>

    <div class="card">
      <div class="item item-divider">
        Order #2 - 10/31/2015
      </div>
      <div class="item item-text-wrap">
        <p>
          Deliver at: 1001 Whitehouse, Whashington DC
        </p>
        <p>
          Total purchased: $25.00
        </p>
        <!--<p>-->
        <!--ETA: 0 minutes-->
        <!--</p>-->
        <p>
          Status: Delivered
        </p>
      </div>
      <!--<button class="item button button-block button-clear" enabled="false">-->
      <!--delived-->
      <!--</button>-->
    </div>

    <div class="card">
      <div class="item item-divider">
        Order #1 - 10/21/2015
      </div>
      <div class="item item-text-wrap">
        <p>
          Deliver at: 1001 Whitehouse, Whashington DC
        </p>
        <p>
          Total purchased: $25.00
        </p>
        <!--<p>-->
        <!--ETA: 0 minutes-->
        <!--</p>-->
        <p>
          Status: Delivered
        </p>
      </div>
      <!--<button class="item button button-block button-clear" enabled="false">-->
      <!--delived-->
      <!--</button>-->
    </div>

  </ion-content>
</ion-view>
