<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div class="shopping-warning-header">
      <p class="title centered">
        These are products from the nearest liquor stores.
      </p>
    </div>

    <div class="list card" style="text-align: center">
      <div class="item">
        <img src="img/budwiser.jpg" style="height: 60px; width: 30px;">
        <h2>Budwiser 18oz</h2>
        <p>Price: U$2.50</p>
        <p>
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" min="0" max="1000" placeholder="Quantity">
          </label>
          <button class="button button-clear">
            Add
          </button>
        </div>
        </p>
      </div>
    </div>


    <div class="list card" style="text-align: center">
      <div class="item">
        <img src="img/budlight.png" style="height: 60px; width: 20px;">
        <h2>Bud Light 18oz</h2>
        <p>Price: U$2.10</p>
        <p>
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" min="0" max="1000" placeholder="Quantity">
          </label>
          <button class="button button-clear">
            Add
          </button>
        </div>
        </p>
      </div>
    </div>


    <div class="list card" style="text-align: center">
      <div class="item">
        <img src="img/corona.jpg" style="height: 60px; width: 20px;">
        <h2>Corona Extra 18oz</h2>
        <p>Price: U$1.80</p>
        <p>
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" min="0" max="1000" placeholder="Quantity">
          </label>
          <button class="button button-clear">
            Add
          </button>
        </div>
        </p>
      </div>
    </div>


    <div class="list card" style="text-align: center">
      <div class="item">
        <img src="img/heineken.jpg" style="height: 60px; width: 20px;">
        <h2>Heineken 18oz</h2>
        <p>Price: U$2.00</p>
        <p>
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" min="0" max="1000" placeholder="Quantity">
          </label>
          <button class="button button-clear">
            Add
          </button>
        </div>
        </p>
      </div>
    </div>


    <div class="list card" style="text-align: center">
      <div class="item">
        <img src="img/dosequis.png" style="height: 60px; width: 20px;">
        <h2>Dos Equis 18oz</h2>
        <p>Price: U$2.30</p>
        <p>
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" min="0" max="1000" placeholder="Quantity">
          </label>
          <button class="button button-clear">
            Add
          </button>
        </div>
        </p>
      </div>
    </div>


    <div class="list card" style="text-align: center; margin-bottom: 15%;">
      <div class="item">
        <img src="img/kaiser.jpeg" style="height: 60px; width: 20px;">
        <h2>Kaiser 18oz</h2>
        <p>Price: U$3.50</p>
        <p>
        <div class="bar bar-header item-input-inset">
          <label class="item-input-wrapper">
            <input type="number" min="0" max="1000" placeholder="Quantity">
          </label>
          <button class="button button-clear">
            Add
          </button>
        </div>
        </p>
      </div>
    </div>

  </ion-content>
  <button class="button button-block button-royal shopping-list-default shopping-list-btn">
      <i class="icon ion-ios-cart-outline"></i>
      Shopping list
  </button>
</ion-view>
