<ion-view view-title="Dashboard">
  <ion-content class="padding" style="margin-top: 10%;">
    <div class="list card">

      <div class="item item-avatar">
        <img src="img/budwiser.jpg" style="height: 50px; width: 30px;">
        <h2>Budwiser 18oz</h2>
        <p>Price: U$2.50</p>
        <p>
          <label class="item-input-wrapper" style="width: 100px;">
            <input type="text" placeholder="Quantity">
            <button class="button button-small">
              OK
            </button>
          </label>

        </p>
      </div>

      <!--<div class="item item-image">-->
        <!--<img src="cover.jpg">-->
      <!--</div>-->

      <!--<a class="item item-icon-left assertive" href="#">-->
        <!--<i class="icon ion-music-note"></i>-->
        <!--Start listening-->
      <!--</a>-->

    </div>

    <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
